/* Style de base */

      :root {
        /* --bg-color:rgba(255, 255, 255, 0.51); */
        --text-color: #222;
        transition: opacity 0.6s ease, transform 0.6s ease;
        /* --header-bg-light: rgba(90, 181, 234, 0.91); */
      }

      .dark {
        /* --bg-color:rgba(85, 5, 8, 0.86); */
        --text-color: #fff;
        transition: opacity 0.6s ease, transform 0.6s ease;
        /* --header-bg-dark: #1a1a1a; */
      }

      .dark body {
        background: #1A161A;
        background: linear-gradient(0deg,rgba(26, 22, 26, 1) 0%, rgb(125, 30, 29) 25%, rgba(26, 22, 26, 1) 50%, rgb(125, 30, 29) 75%, rgba(26, 22, 26, 1) 100%);
        color: var(--text-color);
        transition: opacity 0.6s ease, transform 0.6s ease;
      }

      body {
       background: #ffffff;
       transition: opacity 0.6s ease, transform 0.6s ease;
      }

      header, nav, footer {
        background: #0073ff;
        background: linear-gradient(0deg,rgba(0, 115, 255, 1) 0%, rgba(4, 0, 255, 1) 40%, rgb(255, 0, 0) 100%);
        transition: opacity 0.6s ease, transform 0.6s ease;
      }

      /*{
        position: relative;
        z-index: 10;
      }*/

      .dark header, .dark nav, .dark footer {
        background: #b50e0e;
        background: linear-gradient(180deg,rgba(181, 14, 14, 1) 0%, rgba(46, 6, 6, 1) 100%);
        transition: opacity 0.6s ease, transform 0.6s ease;
      }

      main {
        position: relative;
        z-index: 2;  /* Asegura que el contenido se vea por encima del visualizer */
        background-color: var(--bg-color);
      }

      /*{% comment %} Estilo personalizado para cambiar el z-index del contenido del main {% endcomment %}*/
      .m_content{
        position: relative;
        z-index: 2;
      }

      .dark main{
        position: relative;
        z-index: 2;  /* Asegura que el contenido se vea por encima del visualizer */
        background-color: var(--bg-color);
      }
      
      /* {% comment %} Estilo del Visualizer {% endcomment %} */
      .visualizer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        pointer-events: none;
        display: flex;
        gap: 2px;
      }
      
      .visualizer span {
        width: 10px;
        height: 150px;
        background: #ffffff;
        background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgb(12, 0, 246) 30%, rgb(255, 0, 0) 100%);
        margin: 0 4px;
        display: inline-block;
        animation: bounce 4s infinite ease-in-out;
        transform-origin: center;
        transition: opacity 0.6s ease, transform 0.6s ease;
      }

      .dark .visualizer span {
        width: 10px;
        height: 150px;
        background: #1A161A;
        background: radial-gradient(circle,rgba(26, 22, 26, 1) 0%, rgba(253, 29, 29, 1) 30%, rgba(252, 176, 69, 1) 100%);
        margin: 0 4px;
        display: inline-block;
        animation: bounce 4s infinite ease-in-out;
        transform-origin: center;
        transition: opacity 0.6s ease, transform 0.6s ease;
      }
      
      
      @keyframes bounce {
        0%, 100% {
          transform: scaleY(1);  /* más pequeñas */
        }
        50% {
          transform: scaleY(3.1);  /* más grandes */
        }
      }

    .navbar {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
      padding-right: 15px;
      padding-left: 15px;

    }

    .navdiv{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo a{
      font-size: 35px;
      font-weight: 600;
      color: white;
    }



  .SearchBar  input{
    height: 30px;
    width: 500px;
  }


/* Style para botones principales */

  .custombutton{
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: #ffffff;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(0, 13, 255, 1) 50%, rgba(255, 0, 0, 1) 100%);
    border-radius: 30px;
    font-weight: bold;
    color: black;
  }

    .custombutton::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0px;
      height: 100%;
      background: #ffffff;
      background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(0, 13, 255, 1) 50%, rgba(255, 0, 0, 1) 100%);
      transform: rotate(0deg);
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      pointer-events: none;
      z-index: -1;
    }

    @keyframes sweep {
      0% {
        transform: rotate(0deg) translateX(-100%);
      }
      100% {
        transform: rotate(0deg) translateX(100%);
      }
    }

    .custombutton:hover::before {
      width: 100%;
      opacity: 1;
    }

    .custombutton::after {
      content: '';
      background-color: #ffffff;
      position: absolute;
      z-index: -2;
      transition: 0.3s ease;
      height: 85%;
      width: 98%;
      top: 5%;
      left: 1%;
      border-radius: 25px;
    }
    

  .dark .custombutton{
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: #1A161A;
    background: linear-gradient(0deg,rgba(26, 22, 26, 100) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border-radius: 30px;
    font-weight: bold;
  }

    .dark .custombutton::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0px;
      height: 100%;
      background: 	#46433f;
      background: #1A161A;
      background: linear-gradient(0deg,rgba(26, 22, 26, 100) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
      transform: rotate(0deg);
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      pointer-events: none;
      z-index: -1;
    }

    @keyframes sweep {
      0% {
        transform: rotate(0deg) translateX(-100%);
      }
      100% {
        transform: rotate(0deg) translateX(100%);
      }
    }

    .dark .custombutton:hover::before {
      width: 100%;
      opacity: 1;
    }

    .dark .custombutton::after {
      content: '';
      background-color: #181818;
      position: absolute;
      z-index: -2;
      transition: 0.3s ease;
      height: 85%;
      width: 98%;
      top: 5%;
      left: 1%;
      border-radius: 25px;
    }

/* Style para titulo de páginas */
.main_title{
  background: #ffffff;
  background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgb(12, 0, 246) 30%, rgb(255, 0, 0) 100%);
  color: white;
  border-radius: 30px;
  padding: 1rem;
  font-weight: bold;
}

.lable_title{
  background: #ffffff;
  background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgb(12, 0, 246) 30%, rgb(255, 0, 0) 100%);
  color: white;
  border-radius: 3px;
  padding: 1rem;
  font-weight: bold;
}

.dark .main_title{
  background: #1A161A;
  background: linear-gradient(0deg,rgba(26, 22, 26, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  border-radius: 30px;
  padding: 1rem;
}

.dark .lable_title{
  background: #1A161A;
  color: rgba(253, 29, 29, 1);
  border-radius: 3px;
  padding: 1rem;
}

/* Style de blog_list */

  /* Ajustes para el Contenido */
  /* .grid-container {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  gap: 2rem; 
  justify-content: center;
  padding: 2rem;
  background-color: rgb(21, 0, 255);
} */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 5px;
    row-gap: 30px;
    justify-content: center;
  }

    /* {% comment %} Card Modo Claro {% endcomment %} */
    .card {
      overflow: hidden;
      position: relative;
      z-index: 2;
      max-width: 425px;
      width: 100%;
      margin: auto;
      background: #ffffff;
      background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgb(12, 0, 246) 30%, rgb(255, 0, 0) 100%);
      border-radius: 30px;
      filter: drop-shadow(0px 0px 35px rgb(105, 13, 19));
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.6s ease, transform 0.6s ease;
    }

    .card.visible {
      opacity: 1;
      transform: translateY(0);
    }

    .card::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0px;
      height: 100%;
      background: #ffffff;
      background: linear-gradient(0deg,rgb(71, 98, 166) 0%, rgb(23, 11, 250) 50%, rgb(255, 0, 0) 100%);
      transform: rotate(0deg);
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      pointer-events: none;
      z-index: -1;
    }

    .card:hover::before {
      width: 100%;
      opacity: 1;
    }

    @keyframes sweep {
      0% {
        transform: rotate(0deg) translateX(-100%);
      }
      100% {
        transform: rotate(0deg) translateX(100%);
      }
    }

    .card::after {
      content: '';
      background-color:rgb(254, 244, 244);
      position: absolute;
      z-index: -2;
      transition: 0.3s ease;
      height: 98%;
      width: 98%;
      top: 1%;
      left: 1%;
      border-radius: 25px;
    }

    .card:hover{
      filter: drop-shadow(0px 0px 30px rgb(255, 0, 0));
      --text-color: #ffffff;
    }

    /* {% comment %} Card Modo Dark {% endcomment %} */
    .dark .card {
      overflow: hidden;
      position: relative;
      z-index: 2;
      max-width: 425px;
      width: 100%;
      margin: auto;
      background: #1A161A;
      background: radial-gradient(circle, rgba(253, 29, 29, 1) 75%, rgba(252, 176, 69, 1) 100%);
      border-radius: 30px;
      filter: drop-shadow(0px 0px 30px rgba(103, 3, 23, 0.5));
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.6s ease, transform 0.6s ease;
      
    }

    .dark .card.visible {
      opacity: 1;
      transform: translateY(0);
    }

    .dark .card::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0px;
      height: 100%;
      background: #1A161A;
      background: linear-gradient(0deg,rgba(26, 22, 26, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
      transform: rotate(0deg);
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      pointer-events: none;
      z-index: -1;
    }

    @keyframes sweep {
      0% {
        transform: rotate(0deg) translateX(-100%);
      }
      100% {
        transform: rotate(0deg) translateX(100%);
      }
    }

    .dark .card:hover::before {
      width: 100%;
      opacity: 1;
    }

    .dark .card::after {
      content: '';
      background-color: #181818;
      position: absolute;
      z-index: -2;
      transition: 0.3s ease;
      height: 98%;
      width: 98%;
      top: 1%;
      left: 1%;
      border-radius: 25px;
    }

    .dark .card:hover {
      filter: drop-shadow(0px 0px 30px rgb(95, 94, 94));
    }


    .card div{
      font-size: large;
      
    }

    .card:hover div{
      color: #ffffff;
    }

    .card .out_contet{
      font-weight: bold;
      color: rgb(23, 11, 250);
    }

    .card:hover .out_contet{
      font-weight: bold;
      color: rgb(255, 0, 0);
    }

    .card .title{
      font-size:large;
      font-weight: bold;
      color: rgb(23, 11, 250);
    }

    .card:hover .title{
      font-size:large;
      font-weight: bold;
      color: rgb(255, 0, 0);
    }

    .card .title:hover{
      font-weight: bold;
      color: white;
    }

    /* Contenido En Modo Dark */
    
    .dark .card .out_contet{
      font-weight: bold;
      color: rgba(252, 176, 69, 1);
    }

    .dark .card:hover .out_contet{
      font-weight: bold;
      color: rgba(252, 176, 69, 1);
    }

    .dark .card .title{
      font-size:large;
      font-weight: bold;
      color: rgba(252, 176, 69, 1);
    }

    .dark .card:hover .title{
      font-size:large;
      font-weight: bold;
      color: rgba(252, 176, 69, 1);
    }

    .dark .card .title:hover{
      font-weight: bold;
      color: white;
    }

    /* Paginación */
    .paginacion .go-back{
      background-color: rgb(23, 11, 250);
      color: #ffffff;
      font-weight: bold;
    }

    .dark .paginacion .go-back{
      background-color: rgba(252, 176, 69, 1);
      color: #ffffff;
      font-weight: bold;
    }

    .paginacion .actual_p{
      background-color:rgb(255, 0, 0);
      color: #ffffff;
      font-weight: bold;
    }

    .dark .paginacion .actual_p{
      background-color:#181818;
      color: #ffffff;
      font-weight: bold;
    }

    .paginacion .available_p{
      background-color:rgb(23, 11, 250);
      color: #ffffff;
      font-weight: bold;
    }

    .dark .paginacion .available_p{
      background-color:rgba(252, 176, 69, 1);
      color: #ffffff;
      font-weight: bold;
    }

    .paginacion .available_p:hover{
      border-color: rgb(255, 0, 0);
      background-color:#ffffff;
      color: rgb(255, 0, 0);
      font-weight: bold;
    }

    .paginacion .go-back:hover{
      border-color: rgb(255, 0, 0);
      background-color:#ffffff;
      color: rgb(255, 0, 0);
      font-weight: bold;
    }


    .dark .paginacion .available_p:hover{
      border-color: rgba(252, 176, 69, 1);
      background-color:rgba(181, 46, 43, 1);
      color: #ffffff;
      font-weight: bold;
    }

    .dark .paginacion .go-back:hover{
      border-color: rgba(252, 176, 69, 1);
      background-color:rgba(181, 46, 43, 1);
      color: #ffffff;
      font-weight: bold;
    }
/* Sytle de blog_detail */

img{
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* Style para el form_blog */
.cont_w{
  width: 200px;
  width: 100%;
}

.article_c{
  overflow: hidden;
  z-index: 2;
  width: 100%;
  margin: auto;
  background: #ffffff;
  border-radius: 30px;
}

.dark .article_c{
  overflow: hidden;
  z-index: 2;
  width: 100%;
  margin: auto;
  background: #1A161A;
  border-radius: 30px;
}
