{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
  <head>
    
    <script> // forzar el tema oscuro antes de todo
      (function () {
        const prefersDark = localStorage.getItem("theme") === "dark";
        if (prefersDark) {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🎧 Rate.it</title>


    <script>
    tailwind.config = {
      theme: {
        extend: {},
      },
      plugins: [tailwindcssLineClamp],
    };
    </script>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/line-clamp@0.4.0"></script>

    <link rel="stylesheet" href="{% static 'blogapp/css/style.css' %}">

    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          extend: {},
        },
        plugins: [],
      };
    </script>

  </head>

  <body
    id="body"
    class="flex flex-col min-h-screen font-sans transition-all duration-700 ease-in-out "
  >
  
    <nav
      class="py-4 px-6 transition-colors text-gray-800 dark:text-white shadow-md navbar"
    >
      <div class="max-w-6xl mx-auto flex justify-between items-center navdiv">
        <div class="logo">
          <a
            href="{% url 'blogapp:blog_list' %}"
            class="text-2xl font-semibold tracking-wider logo"
            >🎧 Rate.it
          </a>
        </div>
        <!-- Barra de búsqueda -->
        {% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'create_user' %}
          {% comment %} Se aplica al class el "SearchBar" {% endcomment %}
          <div class="flex items-center SearchBar">
            <form method="get" action="" class="flex items-center space-x-2 bg-white rounded-full px-2 py-1 shadow-sm border border-gray-200">
                <input 
                  type="text" 
                  placeholder="Buscar" 
                  name="busqueda" 
                  value="{{ request.GET.busqueda}}"
                  class="flex-grow text-sm text-gray-900 placeholder-gray-500 bg-transparent focus:outline-none focus:ring-0 pl-2">
                <span class="input-group-list"> 
                   <button type="submit" class="text-gray-500 hover:text-blue-600 transition-all duration-300 flex items-center justify-center">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5" >
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 103.75 3.75a7.5 7.5 0 0012.9 12.9z" />
                    </svg>
                  </button>
                </span>
            </form>
          </div>
        {% endif %}
        
        <div class="flex items-center space-x-4 ">
          <button
            onclick="toggleDarkMode()"
            class="flex items-center gap-2 px-4 py-2 rounded-full font-medium text-black hover:text-white dark:text-white custombutton"
          >
            <span
              id="theme-icon"
              class="transition-transform duration-500 transform"
              >🌞</span
            >
            <span
              id="theme-label"
              class="transition-opacity duration-500 ease-in-out"
              >Modo Claro</span
            >
          </button>

          <!-- Botón de crear blog | solo aparece si estas logeado-->

          {% if user.is_authenticated %}
          <a
            href="{% url 'blogapp:add_blog' %}"
            class="font-medium py-2 px-4 transition-all duration-500 ease-in-out text-black hover:text-white dark:text-white custombutton"
            >Nuevo blog</a
          >
          {% endif %}

          <!-- boton del perfil de usuario -->

          {% if user.is_authenticated %}
          <div class="relative inline-block text left">
            <button id="userMenuButton" class="w-10 h-10 rounded-full flex items-center justify-center font-bold focus:outline-none focus:ring-2 focus:ring-blue-500 text-black hover:text-white dark:text-white custombutton">
              {{ user.username|slice:":1"|upper }}
            </button>

            <div id="userDropdown" class="hidden absolute right-0 mt-2 w-40 bg-white dark:bg-[#333] border border-gray-200 dark:border-gray-700 rounded-md shadow-lg z-50">
              {% comment %} PERFIL {% endcomment %}
              <a href="{% url 'blogapp:profile' %}" class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700">Perfil</a>

              {% comment %} CAMBIO DE CONTRASEÑA {% endcomment %}
              <a href="{% url 'blogapp:password_change' %}" class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700">Cambiar Contraseña</a>

              {% comment %} CERRAR SESIÓN {% endcomment %}
              <form method="post" action="{% url 'blogapp:logout' %}">
                {% csrf_token %}
                <button type="submit" class="w-full text-left px-4 py-2 text-sm text-red-600 dark:text-red-400 hover:bg-gray-100 dark:hover:bg-gray-700">Cerrar Sesión</button>
              </form>
            </div>
          </div>

          <script>
            const menuButton = document.getElementById("userMenuButton");
            const dropdown = document.getElementById("userDropdown");

            document.addEventListener("click", (e) => {
              if (menuButton.contains(e.target)) {
                dropdown.classList.toggle("hidden");
              } else if (!dropdown.contains(e.target)) {
                dropdown.classList.add("hidden");
              }
            });
          </script>

          {% else %}
          <a href="{% url 'blogapp:login' %}">
            <button class="bg-blue-800 hover:bg-blue-700 text-white dark:bg-[#b9aa87] dark:hover:bg-[#706342] dark:text-white py-2 px-4 rounded-full transition-all duration-300 custombutton">
              Iniciar Sesión
            </button>
          </a>
          {% endif %}

        </div>
      </div>
    </nav>
    <main
      class="flex-grow w-full transition-all duration-700 ease-in-out"
    >
      {% comment %} Se coloca el estilo creado "m_content" para poder cambiar el z-index del div que contiene
      el contenido {% endcomment %}
      <div class="m_content px-4 py-8">
        {% block content %}{% endblock %}
      </div>
      <div class="visualizer fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-0 pointer-events-none flex gap-[2px]">
      <span class="bar" style="animation-delay: 0s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.5s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0.4s;"></span>
      <span class="bar" style="animation-delay: 0.7s;"></span>
      <span class="bar" style="animation-delay: 0.6s;"></span>
      <span class="bar" style="animation-delay: 0.7s;"></span>
      <span class="bar" style="animation-delay: 0.9s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.5s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0.4s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0.6s;"></span>
      <span class="bar" style="animation-delay: 0.2s;"></span>
      <span class="bar" style="animation-delay: 0.8s;"></span>
      <span class="bar" style="animation-delay: 0.9s;"></span>
      <span class="bar" style="animation-delay: 0s;"></span>
      <span class="bar" style="animation-delay: 0.9s;"></span>
      <span class="bar" style="animation-delay: 0.2s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0.6s;"></span>
      <span class="bar" style="animation-delay: 0.5s;"></span>
      <span class="bar" style="animation-delay: 0.7s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0.9s;"></span>
      <span class="bar" style="animation-delay: 0s;"></span>
      <span class="bar" style="animation-delay: 0.6s;"></span>
      <span class="bar" style="animation-delay: 0.2s;"></span>
      <span class="bar" style="animation-delay: 0.4s;"></span>
      <span class="bar" style="animation-delay: 0.4s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.6s;"></span>
      <span class="bar" style="animation-delay: 0.7s;"></span>
      <span class="bar" style="animation-delay: 0.8s;"></span>
      <span class="bar" style="animation-delay: 0.6s;"></span>
      <span class="bar" style="animation-delay: 0s;"></span>
      <span class="bar" style="animation-delay: 0.4s;"></span>
      <span class="bar" style="animation-delay: 0.6s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0.8s;"></span>
      <span class="bar" style="animation-delay: 0.5s;"></span>
      <span class="bar" style="animation-delay: 0.9s;"></span>
      <span class="bar" style="animation-delay: 0.7s;"></span>
      <span class="bar" style="animation-delay: 0.2s;"></span>
      <span class="bar" style="animation-delay: 0.9s;"></span>
      <span class="bar" style="animation-delay: 0s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.2s;"></span>
      <span class="bar" style="animation-delay: 0.8s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.4s;"></span>
      <span class="bar" style="animation-delay: 0s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.8s;"></span>
      <span class="bar" style="animation-delay: 0.7s;"></span>
      <span class="bar" style="animation-delay: 0s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.4s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0.7s;"></span>
      <span class="bar" style="animation-delay: 0.5s;"></span>
      <span class="bar" style="animation-delay: 0.6s;"></span>
      <span class="bar" style="animation-delay: 0.8s;"></span>
      <span class="bar" style="animation-delay: 0.2s;"></span>
      <span class="bar" style="animation-delay: 0.9s;"></span>
      <span class="bar" style="animation-delay: 0s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.2s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0.5s;"></span>
      <span class="bar" style="animation-delay: 0.2s;"></span>
      <span class="bar" style="animation-delay: 0.7s;"></span>
      <span class="bar" style="animation-delay: 0.4s;"></span>
      <span class="bar" style="animation-delay: 0.9s;"></span>
      <span class="bar" style="animation-delay: 0s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.6s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0.4s;"></span>
      <span class="bar" style="animation-delay: 0.2s;"></span>
      <span class="bar" style="animation-delay: 0.6s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0.7s;"></span>
      <span class="bar" style="animation-delay: 0s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0.6s;"></span>
      <span class="bar" style="animation-delay: 0.4s;"></span>
      <span class="bar" style="animation-delay: 0.5s;"></span>
      <span class="bar" style="animation-delay: 0.2s;"></span>
      <span class="bar" style="animation-delay: 0.7s;"></span>
      <span class="bar" style="animation-delay: 0.3s;"></span>
      <span class="bar" style="animation-delay: 0.9s;"></span>
      <span class="bar" style="animation-delay: 0.5s;"></span>
      <span class="bar" style="animation-delay: 0.6s;"></span>
      <span class="bar" style="animation-delay: 0.7s;"></span>
      <span class="bar" style="animation-delay: 0.8s;"></span>
      <span class="bar" style="animation-delay: 0.1s;"></span>
      <span class="bar" style="animation-delay: 0.5s;"></span>
      <span class="bar" style="animation-delay: 0.8s;"></span>
    </div>
      
    </main>
    
    
    <footer class="bg-[#5ab5ea] text-white py-4 px-6 transition-colors duration-500">
      <div class="max-w-4xl mx-auto text-center text-sm">
        © 2025 Rate.it – Todos los derechos reservados.
      </div>
    </footer>

    <script>

      //los cambios comentados aqui abajo son para que el boton que cambia de tema
      //funcione junto con el coso al tope de arriba q forza el tema oscuro
      //solo fue cambiar que pinte el body a que pinte el html en si

      // Persist dark mode setting
      document.addEventListener("DOMContentLoaded", () => {
        const prefersDark = localStorage.getItem("theme") === "dark";
        // const body = document.getElementById("body");      === viejo

        const html = document.documentElement;
        const icon = document.getElementById("theme-icon");
        if (prefersDark) {
          //body.classList.add("dark");   === viejo

          html.classList.add("dark");
          if (icon) icon.textContent = "🌙";
          const label = document.getElementById("theme-label");
          if (label) label.textContent = "Modo Oscuro";
        } else {
          if (icon) icon.textContent = "🌞";
          const label = document.getElementById("theme-label");
          if (label) label.textContent = "Modo Claro";
        }
      });

      function toggleDarkMode() {
        // const body = document.getElementById("body");        === viejo
        const icon = document.getElementById("theme-icon");
        // const isDark = body.classList.toggle("dark");        === viejo

        const html = document.documentElement;
        const isDark = html.classList.toggle("dark"); 

        localStorage.setItem("theme", isDark ? "dark" : "light");
        if (icon) {
          icon.classList.add("rotate-180");
          setTimeout(() => {
            icon.textContent = isDark ? "🌙" : "🌞";
            const label = document.getElementById("theme-label");
            if (label) label.style.opacity = 0;
            setTimeout(() => {
              label.textContent = isDark ? "Modo Oscuro" : "Modo Claro";
              label.style.opacity = 1;
            }, 250);
            icon.classList.remove("rotate-180");
          }, 250);
        }
      }
    </script>

    {% load static %}
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script>
      tinymce.init({
        selector: 'form.tinymce-enabled-form textarea[name="content"]',
        menubar: false,
        plugins: 'link image preview code',
        toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright | code preview',
        height: 400,
        skin: document.documentElement.classList.contains("dark") ? "oxide-dark" : "oxide",
        content_css: document.documentElement.classList.contains("dark") ? "dark" : "default"
      });
    </script>
    
    <script>
    document.addEventListener("DOMContentLoaded", () => {
      const cards = document.querySelectorAll(".card");

      const observer = new IntersectionObserver(
        entries => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              entry.target.classList.add("visible");
              observer.unobserve(entry.target); // Quita el observador si ya apareció
            }
          });
        },
        {
          threshold: 0.1,
        }
      );

      cards.forEach(card => {
        observer.observe(card);
      });
    });
  </script>


  </body>
</html>
