{% extends 'base.html' %}

{% block content %}
  <h1 class="text-3xl font-bold mb-6 text-center text-gray-900 dark:text-white">Blogs!</h1>
  <div class="grid gap-6">
    {% for blog in object_list %}
      <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 hover:shadow-xl transition-all duration-700 ease-in-out dark:text-white text-gray-900 animate-fade-in">
        
        <!-- Mostrar la imagen si existe -->
        {% if blog.cover_image %}
          <img src="{{ blog.cover_image.url }}" alt="{{ blog.title }}" class="mb-4 rounded-lg shadow-md max-w-full h-auto">
        {% endif %}
        
        <div class="flex justify-between items-center mb-2">
          <h2 class="text-xl font-semibold">
              <a href="{% url 'blogapp:blog_detail' blog.pk %}" class="text-blue-400 hover:text-blue-300">{{ blog.title }}</a>
          </h2>
          {% if blog.average_rating > 0 %}
              <span class="text-sm font-semibold text-yellow-500">{{ blog.average_rating|floatformat:1 }} ★</span>
          {% else %}
              <span class="text-sm text-gray-400">Sin reseñas</span>
          {% endif %}
      </div>
        {% if blog.tag %}
        <p class="text-sm text-gray-300 dark:text-gray-300">Género: {{ blog.tag }}
        {% endif %}
        <p class="text-white text-m" >{{blog.content|safe}}</p>
        <p class="text-sm text-gray-500 dark:text-gray-400">by {{ blog.author.username }} - {{ blog.created_at }}</p>
      </div>
    {% empty %}
      <p class="text-gray-500 dark:text-gray-400 text-center">No blogs have been posted yet.</p>
    {% endfor %}
  </div>
{% endblock %}
