{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
  <h1 class="text-2xl font-bold mb-6 text-gray-900 dark:text-white">
    <!-- esto es pq el uptadeview utiliza este mismo form | cambia el titulo de la pagina-->
     <span class="main_title">
    {% if form.instance.pk %}  Editar Blog  {% else %}  Crear un Nuevo Blog  {% endif %}
     </span>
  </h1>
  <form method="post" class="tinymce-enabled-form space-y-4 transition-all duration-700 ease-in-out animate-fade-in" enctype="multipart/form-data">{% csrf_token %}
    
    <div class="space-y-2 transition-all duration-700 ease-in-out">
      
      {% for field in form %}
       
    <h2 class="p-3">
      <span> <label for="{{ field.id_for_label }}" class="mb-10 lable_title">{{ field.label }}</label> </span>
    </h2>

          {% if field.name == "content" %}
            {{ field }}
          {% else %}
            {{ field|add_class:"bg-white dark:bg-[#333] text-gray-900 dark:text-white px-4 py-2 rounded-lg w-full border border-red-1000 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" }}
          {% endif %}

          {% if field.errors %}
            <p class="text-red-500 text-sm">{{ field.errors|striptags }}</p>
          {% endif %}
      {% endfor %}

    </div>
    <button type="submit" class="px-6 py-2 text-black hover:text-white dark:text-white custombutton">Post Blog</button>
    
    <!-- igual q con el titulo, pero esto solo muestra un boton por si no quieres editar -->
    {% if form.instance.pk %} 
    <button>
      <a href="{% url 'blogapp:profile' %}" class="px-6 py-2 text-black hover:text-white dark:text-white custombutton">Cancelar edición</a>
    </button> 
    {% endif %}

  </form>

{% endblock %}