{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="max-w-xl mx-auto bg-white dark:bg-gray-800 p-8 rounded-lg shadow-lg mt-10">
        <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Inicia Sesión a tu Cuenta</h2>

        
        <form method="POST">
            {% csrf_token %} 

            <!-- username -->
            <div class="mb-4">
                <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-900 dark:text-white">Nombre de usuario</label>
                {{ form.username|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:text-black" }}
                {% for error in form.username.errors %}
                    <div class="text-sm text-red-600">{{ error }}</div>
                {% endfor %}
            </div>

            <!-- password -->
            <div class="mb-4">
                <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                {{ form.password|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:text-black" }}
                {% for error in form.password.errors %}
                    <div class="text-sm text-red-600">{{ error }}</div>
                {% endfor %}
            </div>

            {% if form.non_field_errors %}
                <div class="text-sm text-red-600 mb-4">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}


            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                Iniciar Sesión
            </button>

            {% comment %} FUTURO ENVÍO AL CORREO DE SOLICITUD DE CAMBIO DE CONTRASEÑA {% endcomment %}
            {% comment %} <div class="text-center mt-4">
                <a href="{% url 'blogapp:' %}" class="text-sm text-blue-600 hover:underline">¿Olvidaste tu contraseña?</a>
              </div> {% endcomment %}

            <div class="text-center mt-4">
                <p class="dark:text-white text-sm">¿No tienes una cuenta?</p>   
                <a href="{% url 'blogapp:create_user' %}" class="text-sky-500 text-sm hover:underline">¡Crea una!</a>
            </div>

        </form>

        <!-- verificar validez del forms -->
        {% if form.errors %}
            <div class="mt-4">
                <ul class="text-sm text-red-600">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
