{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="max-w-xl mx-auto bg-white dark:bg-[#333] p-8 rounded-lg shadow-lg mt-10">
    <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Cambiar Contraseña</h2>

    <form method="POST">
        {% csrf_token %}

        <!-- Contraseña actual -->
        <div class="mb-4">
            <label for="{{ form.old_password.id_for_label }}" class="block text-sm font-medium text-gray-900 dark:text-white">Contraseña Actual</label>
            {{ form.old_password|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:text-black" }}
            {% for error in form.old_password.errors %}
                <div class="text-sm text-red-600">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Nueva contraseña -->
        <div class="mb-4">
            <label for="{{ form.new_password1.id_for_label }}" class="block text-sm font-medium text-gray-900 dark:text-white">Nueva Contraseña</label>
            {{ form.new_password1|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:text-black" }}
            {% for error in form.new_password1.errors %}
                <div class="text-sm text-red-600">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Confirmar nueva contraseña -->
        <div class="mb-4">
            <label for="{{ form.new_password2.id_for_label }}" class="block text-sm font-medium text-gray-900 dark:text-white">Confirmar Nueva Contraseña</label>
            {{ form.new_password2|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:text-black" }}
            {% for error in form.new_password2.errors %}
                <div class="text-sm text-red-600">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Botón de enviar -->
        <button type="submit" class="w-full bg-blue-600 hover:bg-blue-500 text-white py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 dark:bg-[#b9aa87] dark:hover:bg-[#706342]">
            Cambiar Contraseña
        </button>
    </form>

    <!-- Errores generales -->
    {% if form.non_field_errors %}
        <div class="mt-4 text-sm text-red-600">
            {% for error in form.non_field_errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
