{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-900 dark:text-white">Perfil de {{user.username}} </h1>
    <div class="grid-container pt-5">
        {% for blog in object_list %}
            <div class="card bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 hover:shadow-xl transition-all duration-700 ease-in-out dark:text-white text-gray-900 animate-fade-in">
                
                {% if blog.cover_image %}
                <img src="{{ blog.cover_image.url }}" alt="{{ blog.title }}" class="mb-4 rounded-lg shadow-md max-w-full h-auto">
                {% endif %}

                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-xl font-semibold mb-2">
                        <a href="{% url 'blogapp:blog_detail' blog.pk %}" class="text-[#73748c] hover:text-[#454655] dark:text-[#b9aa87] dark:hover:text-[#d9d1bf]">{{ blog.title }}</a>
                    </h2>
                    {% if blog.average_rating > 0 %}
                        <span class="text-sm font-semibold text-[#ffbf00] dark:text-[#ffbf00]">{{ blog.average_rating|floatformat:1 }} ★</span>
                  {% else %}
                      <span class="text-sm text-gray-400">Sin reseñas</span>
                    {% endif %}
                </div>
                <p class="text-white text-m" >{{blog.content|safe}}</p> <!-- el safe deja que se renderize el tinymce-->
                <p class="text-sm text-gray-500 dark:text-gray-400">by {{ blog.author.username }} - {{ blog.created_at }}</p>
                
                <div class="flex justify-end space-x-2 text-xs my-0.2">
                    <button onclick="document.getElementById('deleteModal-{{ blog.pk }}').classList.remove('hidden')" class="text-gray-200 hover:underline">Eliminar</button>
                    <a href="{% url 'blogapp:blog_update' blog.pk %}" class="text-gray-200 hover:underline">Editar</a>
                </div>
            </div>
            
            <!-- Modal de confirmación para eliminar -->
            <div id="deleteModal-{{ blog.pk }}" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-50">
                <div class="bg-white dark:bg-gray-800 p-6 rounded shadow-lg max-w-md w-full text-center">
                    <h2 class="text-xl font-semibold text-red-600 mb-4">¿Estás seguro?</h2>
                    <p class="mb-4 text-gray-700 dark:text-gray-300">Esta acción no se puede deshacer.</p>
                
                    <form method="post" action="{% url 'blogapp:delete_blog' blog.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded mr-2">
                        Sí, eliminar
                    </button>
                    <button 
                        type="button"
                        onclick="document.getElementById('deleteModal-{{ blog.pk }}').classList.add('hidden')"
                        class="bg-gray-600 hover:bg-gray-700 text-white px-4 py-2 rounded"
                    >
                        Cancelar
                    </button>
                    </form>
                </div>
            </div>

        {% empty %}
            <p class="text-gray-500 dark:text-gray-400 text-center">No blogs have been posted yet.</p>
        {% endfor %}
    </div>
{% endblock %}

<!-- 
    Reutilice el mismo codigo q hay en blog_list pq es la misma vaina
    solo q hay una validación pa que solo muestro los blogs del usuario que entre a esta página

    a parte también puede editar y eliminar los blogs
-->